CompileFlags:
  Add: 
    - -Wall
    - -Wextra
    - -Werror
    - --cuda-path=<path-to-cuda>
    - --no-cuda-version-check
  Remove:
    - -ccbin
    - -forward-unknown-to-host-compiler
    - -rdc=true
    - -gencode
    - --generate-code*
    - -Xcudafe
    - --diag_suppress=*
    - --expt-relaxed-constexpr
    - --expt-extended-lambda
    - -Xcompiler*
    - -arch=*
    - -fmodules*
    - -fmodule-mapper*
    - -fdeps-format*

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: None

  ClangTidy:
    Add: [
      performance-*,
      modernize-*,
      clang-analyzer-*,
      readability-*,
    ]

    Remove: [
      readability-isolate-declaration,
      readability-identifier-length,
      readability-magic-numbers,
      readability-function-cognitive-complexity,
      modernize-avoid-c-arrays,
      readability-math-missing-parentheses,
    ]

    CheckOptions:
      readability-identifier-naming.VariableCase: aNy_CasE
      readability-identifier-naming.ProtectedMemberCase: aNy_CasE
      readability-identifier-naming.PrivateMemberCase: aNy_CasE
      readability-identifier-naming.PublicMemberCase: aNy_CasE
      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.EnumCase: camelBack
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.StructCase: CamelCase
      readability-identifier-naming.FunctionCase: camelBack
      readability-identifier-naming.ClassMethodCase: camelBack